* {
    font-family: 'Quicksand';
}

.jumbo-bg {
    background: url("/Users/rodneydavermann/Desktop/Plotly-Challenge/static/Images/dimage3.png") no-repeat center;
    background-size: cover;
}

.demo-text {
    font-size: 14px;
}

.card .card-header {
    font-size: 15px;
    font-weight: bold;
}

#selDataset {
    font-size: 14px;
}

.belly-bg {
    background-color: darkred !important
}

.header-font {
    font-family: 'Playfair Display', serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgray;
    color: white;
    text-align: center;
  }